<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Scythe Calculator</title>
        <link rel="stylesheet" href="http://localhost:5000/static/css/style.css">
    </head>
    <body>
        <p id="überschrift">Scythe Calculator</p>
        <div id="content">

        </div>
        <script src="http://localhost:5000/static/js/script.js"></script>
    </body>
</html>