body {
    background-image: url(wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Papyrus;
}

#content { /*heller Kasten*/
    width: 55%;
    height: 100%;
    margin: auto;
    background-color: rgb(252, 248, 244);
    border-radius: 15px 15px 15px 15px;
}

#überschrift { /*Überschrift*/
    font-size: 4em;
    text-align: center;
    width: 100%;
    margin-bottom: 5%;
}

#actual-content { /*Inhalt*/
    width: 90%;
    height: 50%;
    margin: auto;
    display: grid;
    gap: 0.3em;
}

.text { /*grid Kästchen */
    font-size: 2em;
    text-align: center;
}

#berechnen { /*berechnen button*/
    width: 15%;
    height: 5.5%;
    font-size: 1.5em;
    font-family: Papyrus;
    background-color: #bca89f;
    border-color: #64473b;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    line-height: 1.5em;
}

@media (min-width: 1280px) { /*Desktops*/
    #actual-content {
        grid-template-columns: 24.5% 24.5% 24.5% 24.5%; /*teilt grid in 4 spalten*/
    }

    #berechnen {
        float: right;
        margin-right: 10%;
        margin-top: 3%;
    }

    .input { /* input felder*/
        width: 60%;
        font-family: Papyrus;
        text-align: center;
        font-size: 1em;
        background-color: #ccbdb6;
        border-color: #4c3228;
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    }
}

@media (min-width: 480px) { /*breitere Smartphones*/

}

@media (min-width: 768px) { /*Tablets*/

}

@media (min-width: 320px) { /*schmalere Smartphones*/

}