body {
    background-image: url(wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#überschrift { /*Überschrift*/
    font-size: 4em;
    text-align: center;
    font-family: Papyrus;
    width: 100%;
    margin-bottom: 1%;
}

#content { /*heller Kasten*/
    width: 55%;
    height: 100%;
    margin: auto;
    background-color: rgb(252, 248, 244);
    border-radius: 15px 15px 15px 15px;
}